html {
    background: url(background.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: Georgia, serif;
    text-align: center;
    color: white;
}
.button {
    background-color: #003262 ; /* Berkeley Blue */
    border-radius: 8px;
    color: #FDB515; /* California Gold */
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: auto;
    cursor: pointer;
    transition-duration: 0.25s;
}
.button:hover {
    background-color: #FDB515; /* California Gold */
    color: #003262; /* Berkeley Blue */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 16px 48px 0 rgba(0,0,0,0.19);
}
table {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #dddddd;
}

th, td {
    border: 3px none black;
    border-collapse: initial;
    padding: 16px;
}
.centered-table {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: lightslategray;
}
.centered-table th,
.centered-table td {
    background-color: #FFFFFF;
    color: black;
    border: 1px black;
}
